<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
</head>
<body class="container-fluid">
    
    <div class="row">
        <section>
        </section>
    </div>
    <div class="row">
        <main>
            <article></article>
            <article></article>
        </main>
    </div>
    <div class="row">
        <nav class="">

        </nav>
    </div>
    <div class="row d-md-none">
        <nav class="nav nav-fill fixed-bottom">
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to search page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to notifications page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to home page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Create new post icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to settings page icon" width="30" height="30">
            </a>
        </nav>
    </div>
</body>
</html>