<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
    <style type="text/css">
        .navbarHighlight{
            height:100vh;
            background-color:gray;
        }
        .titleHighlight {
            height: 20vh;
            background-color: dimgray;
        }
        .asideHighlight {
            height: 80vh;
            background-color: darkslategray;
        }
        .blogHighlight {
            height: 80vh;
            background-color: lightgray;
        }
    </style>
</head>
<body class="container-fluid p-0">
    
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-xl-2 col-md-1 d-none d-md-block navbarHighlight">
            <nav class="">
            </nav>
        </div>
        <div class="col-xl-8 col-md-9">
            <section class="row test titleHighlight">
            </section>
            <main class="row">
            <!--    <div class="col-md-1"></div>-->
                <article class="col-md-8 blogHighlight"></article>
                <article class="col-md-4 asideHighlight"></article>
                <!--<div class="col-md-1"></div>-->
            </main>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row d-block d-md-none">
        <nav class="nav nav-fill fixed-bottom">
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to search page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to notifications page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to home page icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Create new post icon" width="30" height="30">
            </a>
            <a class="nav-link" href="#">
                <img src="../icons/genericIcon.png" alt="Move to settings page icon" width="30" height="30">
            </a>
        </nav>
    </div>
</body>
</html>